.main {
  width: 100%;

  img,
  audio,
  video,
  iframe {
    display: block;
    margin: auto;
    align-self: center;
    max-width: 80%;
    border-radius: 8px;
  }

  // Force all embeds to be in 16/9. This isn't a great assumption but probably
  // okay for my use cases.
  iframe {
    aspect-ratio: 16/9;
    height: auto;
  }

  // Used by old site for media captions.
  :global(.caption) {
    align-self: center;
    margin-top: -16px;

    // This is unfortunate but this will sync the size with Evergreen's default
    // 14px
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: 640px) {
  .main {
    width: 640px;
  }
}
